/* Estilos para la barra de navegación */
header {
    background-color: #171818;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para las secciones */
section {
    margin: 20px;
    padding: 20px;
    border: 1px  #ccc;
}

section img {
    max-width: 100%;
    height: auto;
}

/* Estilos para los botones */
button {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilos para las tarjetas */
.card {
    margin: 10px;
    padding: 10px;
    border: 1px  #ccc;
}

.card img {
    max-width: auto;
    height: auto;
}

/* Estilos para la sección de imagen y texto */
.half-width {
    width: 50%;
    float: left;
}

/* Estilos para el formulario */
form {
    margin: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.social-media a {
    margin: 0 10px;
}

